@import 'styles/fonts';
@import 'styles/colours';

@media screen and (max-width: 800px){
  .cell-sidebar {
    flex-basis: 52px !important;
  }
  .cell-content {
    flex-basis: calc(100% - 104px) !important;
  }
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}
a:not([draggable=true]), img:not([draggable=true]) {
    -webkit-user-drag: none;
    user-drag: none; /* Technically not supported in Electron yet */
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
    user-drag: auto; /* Technically not supported in Electron yet */
}

html {
	font-family: 'Open Sans';
	overflow: hidden;

}

body {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: $panel;
  // border: 1px solid $border;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
}

.text {
  align-content: center;
  text-align: center;
}

.center {
  text-align: center;
}

@for $i from 1 through 10 {
  $n: $i * 10;

  .padding-#{$n} {
    padding: #{$n}px;
  }
  .padding-left-#{$n} {
    padding-left: #{$n}px;
  }
  .padding-right-#{$n} {
    padding-right: #{$n}px;
  }
  .padding-top-#{$n} {
    padding-top: #{$n}px;
  }
  .padding-bottom-#{$n} {
    padding-bottom: #{$n}px;
  }
}
